.search-container {
  margin-top: 2rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2.5rem;
}

.search-container input {
  width: 40%;
  border: none;
  outline: none;
  border-bottom: 1px solid #979292;
}

.search-container .search-button-container {
  padding: 0.5rem;
  margin-left: 1rem;
  background-color: #e9a960;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-container .search-button-container:hover {
  background-color: #e49a46;
}

.search-button-container>img {
  height: 2rem;
}

.search-container .filter-button-container {
  padding: 0.5rem;
  margin-left: 1rem;
  background-color: #e9a960;
  border-radius: 5px;
  display: none;
}

.search-container .filter-button-container:hover {
  background-color: #e49a46;
}

.filter-button-container>img {
  height: 2rem;
}

.filter-product-grid-section {
  padding: 3rem 2rem 0rem 2rem;
  display: grid;
  grid-template-columns: 15% auto;
  gap: 5%;
}

.filter-section {
  position: relative;
  height: 40rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3rem 2rem 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter-product-grid-section .product-grid-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 3rem;
}

.product-grid-section .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  cursor: pointer;
}

.product-card img {
  width: 20rem;
  height: 18rem;
}

.product-card .details-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

.product-card > button {
  width: 100%;
  height: 3rem;
  background-color: #e9a960;
  color: white;
  font-size: large;
  cursor: pointer;
}

.product-card > button:hover {
  background-color: #af7028;
}

.filter-section > button {
  position: absolute;
  top: 3%;
  right: 4%;
}

.filter-section button > img {
  width: 1.3rem;
}

.filter-modal {
  display: none;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .search-container .filter-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .filter-product-grid-section {
    display: flex;
  }

  .filter-product-grid-section .filter-section {
    display: none;
  }

  .filter-modal .filter-section  {
    width: 90%;
    height: auto;
    position: fixed;
    top: 30vh;
    right: 5%;
  }

  .filter-modal {
    width: 100%;
    display: none;
  }
}

@media screen and (max-width: 1360px) {
  .filter-product-grid-section {
    grid-template-columns: 30% auto;
  }
}